p25-wireline/issi-tools/schema/xsd/globaltopology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="global-topology">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rfssconfig" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="rfssName" use="optional"/>
                <xs:attribute type="xs:int" name="selftestPort" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="suconfig" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="suId" use="optional"/>
                <xs:attribute type="xs:string" name="suName" use="optional"/>
                <xs:attribute type="xs:string" name="homeRfssName" use="optional"/>
                <xs:attribute type="xs:string" name="servingRfssName" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="sgconfig" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="groupName" use="optional"/>
                <xs:attribute type="xs:string" name="sgId" use="optional"/>
                <xs:attribute type="xs:string" name="homeRfssName" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
