p25-wireline/issi-tools/schema/xsd/systemtopology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="system-topology">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wacn-config" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="wacnName" use="optional"/>
                <xs:attribute type="xs:string" name="wacnId" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="systemconfig" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="systemName" use="optional"/>
                <xs:attribute type="xs:string" name="systemId" use="optional"/>
                <xs:attribute type="xs:string" name="wacnName" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="rfssconfig" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="rfssName" use="optional"/>
                <xs:attribute type="xs:string" name="rfssId" use="optional"/>
                <xs:attribute type="xs:string" name="systemName" use="optional"/>
                <xs:attribute type="xs:string" name="ipAddress" use="optional"/>
                <xs:attribute type="xs:int" name="port" use="optional"/>
                <xs:attribute type="xs:string" name="color" use="optional"/>
                <xs:attribute type="xs:string" name="emulated" use="optional"/>
                <xs:attribute type="xs:string" name="address" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
